.Mr-navigateSectionContiner{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width:1919px) {
    .Mr-navigateSectionContiner{
        gap: 40px;
    }
}

@media (max-width:992px) {
    .Mr-navigateSectionContiner{
        flex-direction: column;
        width: 100%;
    }
}