/* Main container for a single testimonial card */
.TestimonialsCardContiner {
    width: 26.7167085%;
    background-color: var(--white-color);
    padding: 50px;
    border: 2px solid var(--grey15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    box-shadow: 6px 6px 0px 2px #1E1E1E;

    /* User profile image inside the testimonial card */
    .Mr-userImage {
        background-color: var(--Orange97);
        padding: 10px;
        border-radius: 50%;
        border: 1px solid var(--grey20);
    }
}

/* ---------- Responsive Styles ---------- */

/* Screens smaller than 1919px */
@media (max-width: 1919px) {
    .TestimonialsCardContiner {
        padding: 40px;
        border-radius: 10px;
        gap: 24px;
        box-shadow: 4px 4px 0px 2px #1E1E1E;

        .Mr-userImage {
            padding: 8px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
    }
}

/* Screens smaller than 1439px */
@media (max-width: 1439px) {
    .TestimonialsCardContiner {
        padding: 36px;

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }
}

/* Screens smaller than 992px (Tablet & Mobile) */
@media (max-width: 992px) {
    .TestimonialsCardContiner {
        width: 100%; 
        padding: 30px;
        border-radius: 10px;
        gap: 20px;
    }
}
